canvas{
    display: block;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
}
#title{
    display:block;
    position:absolute;
    top: 10%;
    left: 30%;
    font-size: 70px;
    color:#259c3f;
}
body{
    border:0;
    margin:0;
    font-family: 'Potta One', cursive;
    color:#4CAF50;
    
}

#MainMenu{
    
    display:block;
    position:absolute;
    top: 40%;
    left: 40%;

}
#input {
    
    background-color:#0CEDAD; /* Green */
    border: none;
    color: white;
    padding: 15px 45%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 20px;
  }

#interval{
    border: 1px solid #00E022;
    border-radius: 5px; 
}
#relativeInterval{
    border: 1px solid #00E022;
    border-radius: 5px; 
}
#help{
    display:block;
    position:absolute;
    top: 60%;
    left: 20%;
}